## رشته

### رشته زیر را با روش های درخواست شده ایجاد کنید


John Doe is working in Apple since 1999-09-09

### string concatenation / الصاق رشته ها

In [1]:
first_name = "John"
last_name = "Doe"

company_name = "Apple"
employment_date = "1999-09-09"

# your code goes here

### تابع فرمت / بر اساس ایندکس

In [ ]:
first_name = "John"
last_name = "Doe"

company_name = "Apple"
employment_date = "1999-09-09"

# your code goes here

### تابع فرمت / نام مستعار

alias = نام مستعار

In [ ]:
first_name = "John"
last_name = "Doe"

company_name = "Apple"
employment_date = "1999-09-09"

# your code goes here

## لیست

### معدل ۲ نفر آخر لیست را نمایش دهید

In [3]:
scores = [
    {
        "name": "John",
        "score": 18.84
    },
    {
        "name": "Alex",
        "score": 16.34
    },
    {
        "name": "Nick",
        "score": 17.02
    },
    {
        "name": "Arsen",
        "score": 15.57
    }
]

# your code goes here

15.57
17.02

### نام و معدل خود را به انتهای لیست اضافه کنید و سپس در خروجی نمایش دهید (فقط معدل)

In [4]:
scores = [
    {
        "name": "John",
        "score": 18.84
    },
    {
        "name": "Alex",
        "score": 16.34
    },
    {
        "name": "Nick",
        "score": 17.02
    },
    {
        "name": "Arsen",
        "score": 15.57
    }
]

# your code goes here

### معدل فرد دوم را به مقدار دلخواه تغییر دهید

In [ ]:
scores = [
    {
        "name": "John",
        "score": 18.84
    },
    {
        "name": "Alex",
        "score": 16.34
    },
    {
        "name": "Nick",
        "score": 17.02
    },
    {
        "name": "Arsen",
        "score": 15.57
    }
]

# your code goes here

### رکورد اول و آخر از لیست معدل ها را حذف کنید

In [ ]:
scores = [
    {
        "name": "John",
        "score": 18.84
    },
    {
        "name": "Alex",
        "score": 16.34
    },
    {
        "name": "Nick",
        "score": 17.02
    },
    {
        "name": "Arsen",
        "score": 15.57
    }
]

# your code goes here

### معدل خود را بین رکورد دوم و سوم وارد کنید

In [ ]:
scores = [
    {
        "name": "John",
        "score": 18.84
    },
    {
        "name": "Alex",
        "score": 16.34
    },
    {
        "name": "Nick",
        "score": 17.02
    },
    {
        "name": "Arsen",
        "score": 15.57
    }
]

# your code goes here

### مراحل زیر را انجام دهید

- یک کپی از لیست معدل ها تهیه کنید
- لیست کپی شده را مرتب کنید به صورت نزولی
- لیست اصلی را به صورت صعودی مرتب کنید

In [ ]:
scores = [ 18.84, 16.34, 17.02, 15.57 ]

# your code goes here

### اسامی همه شهرها را از لیست حذف کرده و با ۳ مقدار دلخواه لیست را پر کنید

In [ ]:
cities = [ "Kurdestan", "Amol", "Shiraz", "Abdanan" ]

# your code goes here